/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

.content {
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 50px;
}

.content h1 {
	font-size: 7rem;
}

.content button {
	height: 50px;
	width: 150px;
	font-size: 1rem;
}

.game-window {
	height: 90%;
	width: 100%;
	display: none;  
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 50px;
	margin-top: -50px;
}

.text-box {
	height: 100px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px rgb(0, 0, 0) solid;
	font-size: 2rem;
}

.boards-container {
	width: 90%;
	display: flex;
	justify-content: space-evenly;
	gap: 0px;
	/* border: 2px red solid; */
}

.left-side {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.player-cell.blank.highlight {
  background-color: #4400ff;
}

.blank {
	background-color: whitesmoke;
}

.computer-cell.blank:hover {
	background-color: crimson;
}

.ship {
	background-color: blue;
}

.hit {
	background-color: red;
	pointer-events: none; /* don't allow player to select same cell twice*/
}

.miss {
	background-color: darkgrey;
	pointer-events: none; /* don't allow player to select same cell twice*/
}

/* FOOTER */

footer {
	color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 20px;
}

.fa-github {
  color: black;
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}


@media only screen and (max-width: 768px) {
  /* Adjust footer styles for mobile devices */
  footer {
    font-size: 16px;
  }

	.game-window {
		height: 90%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		gap: 50px;
	}

	.text-box {
		position: absolute;
		top: 0;
		margin-top: 15px;
		height: 10%;
		font-size: 1rem;
	}

	.boards-container {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		gap:20px;
	}

	.cell {
		height: 25px;
		width: 25px;
	}
}